@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>Test</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <h2>Дисциплина= Механика. Динамика. Модуль 2.</h2>
    <h3>Вопрос №1 В динамике действие одного тела на другое называют взаимодействием. Количественно взаимодействия тел характеризуют силами взаимодействия, подчиняющиеся закону парности взаимодействия. Каково содержание этого закона?</h3>
    <table>
        <tr>
            <td>1)Сила взаимодействия двух тел зависит от присутствия других тел, расстояния между телами и скоростей их движения</td>

        </tr>
        <tr>
            <td>2)Сила взаимодействия двух тел зависит от расстояния между взаимодействующими телами, их относительных скоростей и не зависит от количества присутствующих тел</td>

        </tr>
        <tr>
            <td>3)Сила взаимодействия двух тел зависит от присутствия других тел и не зависит расстояния между телами, от скоростей их движений</td>

        </tr>
        <tr>
            <td>4)Сила взаимодействия двух тел зависит от присутствия других тел, скоростей их движения и не зависит от расстояния между телами</td>

        </tr>

    </table>
    <h3>Вопрос №2 Из векторного характера сил вытекает, что две силы равны между собой, если они?</h3>
    <table>
        <tr>
            <td>1)Приложенные к одному и тому же телу и направленные вдоль прямой в разные стороны, не приводят к изменению положения тела</td>

        </tr>
        <tr>
            <td>2)Приложенные к разным телам и направленные вдоль прямой в разные стороны, не приводят к изменению положения тела</td>

        </tr>
        <tr>
            <td>3)Приложенные к одному и тому же телу и направленные вдоль прямой в одну сторону не приводят к изменению положения тела</td>

        </tr>
        <tr>
            <td>4)Приложенные к одному и тому же телу, но под углом друг к другу и приводят к изменению положения тела</td>

        </tr>

    </table>
</body>
</html>